<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
  
<div class="inventory">
    <form action="/inv/add-inventory" method="post">

      <%- classification %>

        <fieldset>
                <div><i>All fields are required.</i></div>
                
                <div><i>Please selest the right classification before submitting.</i></div>
                <label for="inv_make">Make</label>
                <input type="text" placeholder="Enter make" id="inv_make" name="inv_make" required pattern="[^' ']+[a-zA-Z]" value="<%= locals.inv_make %>"><i class="fas fa-check-circle valid-icon"></i>

                <label for="inv_model">Model</label>
                <input type="text" placeholder="Enter model" id="inv_model" name="inv_model" required pattern="[^' ']+[a-zA-Z]" value="<%= locals.inv_model %>"><i class="fas fa-check-circle valid-icon"></i>

                <label for="inv_description">Description</label>
                <textarea name="inv_description" id="inv_description" rows="4" cols="50" required><%= locals.inv_description %></textarea><i class="fas fa-check-circle valid-icon"></i>

                <label for="inv_image">Image Path</label>
                <input type="text" placeholder="Enter image URL" id="inv_image" name="inv_image" required value="/images/vehicles/no-image.png" value="<%= locals.inv_image %>"><i class="fas fa-check-circle valid-icon"></i>

                <label for="inv_thumbnail">Image Thumbnail</label>
                <input type="text" placeholder="Enter thumbnail URL" id="inv_thumbnail" name="inv_thumbnail"  required pattern=".*\..*" value="/images/vehicles/no-image-tn.png"><i class="fas fa-check-circle valid-icon"></i>

                <label for="inv_price">Price</label>
                <input type="number" placeholder="Enter price" id="inv_price" name="inv_price" required pattern="^\d+(\.\d{1,2})?$" required value="<%= locals.inv_price %>" title="Please enter a valid price with a maximum of 2 decimal places"><i class="fas fa-check-circle valid-icon"></i>

                <label for="inv_year">Year</label>
                <input type="number" id="inv_year" placeholder="Enter year" name="inv_year" required placeholder="2024" value="<%= locals.inv_year %>"title="Please enter a valid year (4 digits)"><i class="fas fa-check-circle valid-icon"></i>

                <label for="inv_miles">Miles</label>
                <input type="number" id="inv_miles" name="inv_miles"required pattern="\d+$" required placeholder="digits only" value="<%= locals.inv_miles %>" title="Please enter a valid number of miles"><i class="fas fa-check-circle valid-icon"></i>

                <label for="inv_color">Color</label>
                <input type="text" placeholder="Enter color" id="inv_color" name="inv_color" required value="<%= locals.inv_color %>"><i class="fas fa-check-circle valid-icon"></i>
                <button type="submit" id="submit">Submit</button>
        </fieldset>
    </form>
</div>